#pleft, #pup, #pright {
	position: absolute;
	display: flex;
}

#pright {
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	flex-direction: column;
	.PlayerMSG { right: 0; }
}
#pleft {
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	flex-direction: column;
	.PlayerMSG { left: 0; }
}
#pup {
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	.PlayerMSG { left: 50%; transform: translateX(-50%); }
}

.Player {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
	padding: 0.5rem;

	min-width: 6rem;
    max-width: 12rem;

	overflow: hidden;
    text-overflow: ellipsis;

    background-color: #000000;
    color: #FFFFFF;

	box-sizing: border-box;
}

.Player:hover {
	cursor: pointer;
    background-color: #222222;
}

.Current {
    border-radius: 0.2rem;
	border-width: 0.2rem;
	border-color: yellow;
	border-style: solid;
}

.Player:empty {
	display: none;
}

.PlayerMSG {
    position: absolute;

    min-width: 10rem;
	max-width: 20rem;

	font-size: 2rem;

    padding: 0.3rem;
    border-radius: 0.3rem;

    text-align: left;
    text-overflow: ellipsis;

    white-space: nowrap;
    user-select: none;

    overflow: hidden;

	box-sizing: border-box;

	cursor: pointer;
    color: #000000;
    background-color: #CCCCCC;
}

.PlayerMSG:hover {
	max-width: 30rem;
    height: max-content;
    white-space: inherit;
}
