.SettingList,
.SettingGroup {
	align-items: center;

	margin: 0.5rem;
	padding: 0.5rem;
	border: 1px solid;
}

.Descriptionpair {
	padding: 0.5rem;
	margin: 0.5rem;
	border: 1px solid;

	> .SettingGroup, .SettingList {
		border: 1px none;
	}
}

.SingleSetting {
	margin: 0.5rem;
}

.Title {
	font-size: 1.2rem;
	font-weight: bold;
}

.SettingListEntry {
	display: flex;
	justify-content: center;
	padding: 0.5rem;

	.Buttons {
		display: flex;
		flex-direction: column;
	}
	.SettingGroup {
		margin: 0;
		width: max-content;
	}
}
