#background,
body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;

	user-select: none;
}

#background {
	pointer-events: none;
}

.CenterX, .CenterY, .CenterXY {
	position: absolute;
}

.CenterX {
	left: 50%;
	transform: translateX(-50%);
}
.CenterY {
	top 50%;
	transform: translateY(-50%);
}
.CenterXY {
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.Board {
	background-color: #ECE16F;
	color: black;

	padding: 1em;

	border-width: 0.5em;
	border-radius: 0.5em;
	border-color: #DA614C;
	border-style: solid;
}

#points {
	position: absolute;

	right: 0;
	top: 0;

	border-width: 0 0 0.5em 0.5em;
	border-radius: 0 0 0 0.5em;

	font-size: 1.5rem;
}

#gameDetails {
	position: absolute;

	left: 0;
	top: 0;

	min-width: 12em;
	min-height: 5em;

	border-width: 0 0.5em 0.5em 0;
	border-radius: 0 0 0.5em 0;
}


.ActionButton {
    width: 1.6cm;
    height: 1.6cm;

	z-index: 420;

	border-radius: 0.1cm;
    margin: 0.2cm;
	padding: 0.2cm;

    background-color: #000000;
    cursor: pointer;
	box-sizing: border-box;
}

.ActionButton:hover {
    background-color: #363636;
}

.Button {
	background-color: #4685B0;
	color: #ffffff;

	text-align: center;

	padding: 0.4em;
	margin: 0.1em;
	border-radius: 0.2em;
}

.Button:hover {
	filter: brightness(120%);
	cursor: pointer;
}

.Button:disabled {
	pointer-events: none;
	background-color: gray;
}

#buttonRow {
	position: absolute;
	display: flex;

	left: 10vw;
	bottom: var(--hand-height);

	font-size: 1.5rem;

	> * { display: none; }
}

.Card {
	font-size: 2rem;
	background-color: white;
	color: black;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}


#botrightbuttons,
#botleftbuttons,
.ActionButtonContainer {
	display: flex;
	flex-direction: column-reverse;

	z-index: 420;
	position: absolute;
}

#botrightbuttons {
	right: 2px;
	bottom: 2px;
}

#botleftbuttons {
	left: 2px;
	bottom: 2px;
}

/* ---- */

.Window {
	display: none;

	position: absolute;

	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#exchangeWindow {
	max-width: 60%;
	max-height: 50%;

	overflow: auto;
}

#exchangeHolder {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;

	> div {
		position: relative;

		width: 5em;
		height: 8em;

		margin: 0.5em;
		padding: 1em;
		border-radius: 1em;

		background-color: #660000;

		> {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
		}
	}
}

.Disabled {
	cursor: not-allowed;
	pointer-events: none;
	filter: grayscale(100%) !important;
}

/* --- */

.Trick {
	display: flex;
	flex-direction: row;
}

.TrickWrapper {
	display: flex;
	flex-direction: column;
	justify-content: ;

	> .Trick {
		overflow: unset;
	}
}

#carpet {
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);

	overflow: auto;

    background-color: #00BB00;

    border-radius: 8px;
    border-style: solid;
    border-color: #008100;

	> * {
		position: absolute;

		max-width: 100%;

		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.Trick {
		height: 10em;
	}
}

.DragOver {
	border-width: 2px;
    border-style: solid;
    border-color: #33ff33;
}

#wishButtons {
	display: flex;
	flex-direction: column;
}

body > .PlayerMSG {
	left: 50%;
	bottom: 22.5vh;

	transform: translateX(-50%);
}

.ActionButton.Active {
	border-style: solid;
	border-width: 0.25em;
	border-color: lime;
}

.Active {
	border-style: solid !important;
	border-color: lime !important;
}

.Finished {
	color: gray !important;
	background-color: #000022 !important;
}

.AnnouncedTichu {
	background-color: #888800 !important;
	color: #FFFFFF !important;
}


.AnnouncedGrandTichu {
	background-color: #cc0088 !important;
	color: #FFFFFF !important;
}

#tricklist {
	display: flex;
	flex-direction: column;

	> div {
		padding: 1.5rem;
		border-radius: 1rem;
	}

	> div:hover {
		cursor: pointer;
		filter: brightness(125%);
		background-color: #00000044;
	}
}

#endWindow {
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	overflow: auto;

    min-height: 5rem;

	padding: 1rem;

	div {
		display: flex;
		justify-content: space-evenly;
	}
}

#endTeams {
	white-space: nowrap;
	flex-direction: column;
	align-items: center;

	h1 { color: #AA8A00; }
	h2 { color: #8F9396; }
	h3 { color: #A25D2F; }
	* { margin: 0; }
}
