#carpet {
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);

    background-color: #00BB00;

    border-radius: 8px;
    border-style: solid;
    border-color: #008100;

	img {
		position: absolute;

		top: 50%;
		left: 50%;

		height: 40%;

		border-style: none;
		border-radius: 2px;
		border-width: 0.25rem;
		border-color: #FFFF00;

		animation-duration: 500ms;
	}
}
