:root {
    font-family: Roboto, sans-serif;
    --card-aspect-ratio: 161 / 247;
}

img {
	user-select: none;
}

body {
    position: absolute;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    margin: 0%;

    overflow: hidden;

    background-color: #000000;
}

.CenterX {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.CenterY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#background {
    position: absolute;

    width: 100%;
    height: 100%;
}

.Playedcard {
    position: absolute;

    display: none;

	height: 40%;
	aspect-ratio: var(--card-aspect-ratio);

    border-style: none;
    border-radius: 0.75rem;
    border-width: 0.25rem;
    border-color: #FFFF00;

    animation-duration: 500ms;
}

#roundDetails {
    position: absolute;
	display: flex;
	flex-direction: column;

    top: 0;
    left: 0;

    text-align: center;
    font-size: 1rem;

    color: #EEEEEE;
    background-color: #000000;
    padding: 0.8rem;

    border-style: solid;
    border-bottom-right-radius: 0.5rem;
    border-width: 0 0.5rem 0.5rem 0;
    border-color: #DEA487;
}

#roundSymbols {
	display: flex;

	img {
		width: 6rem;
		height: 6rem;
	}

	div {
		display: flex;
		flex-direction: column;

		img {
			width: 3rem;
			height: 3rem;
		}
	}
}

#gameDetails {
    position: absolute;

    top: 0;
    right: 0;

    color: #EEEEEE;
    background-color: #000000;
    padding: 0.8rem;

    font-size: 1.5rem;

    overflow: hidden;
    white-space: nowrap;

    border-color: #DEA487;
    border-style: solid;
    border-bottom-left-radius: 0.5rem;
    border-width: 0 0 0.5rem 0.5rem;
}

#gameTeams {
	display: flex;
	flex-direction: column;
}

.ActionButton {
    width: 1.6cm;
    height: 1.6cm;

	z-index: 420;

	border-radius: 0.1cm;
    margin: 0.2cm;
	padding: 0.2cm;

    background-color: #000000;
    cursor: pointer;
	box-sizing: border-box;
}

.ActionButton:hover {
    background-color: #363636;
}

#botrightbuttons {
	display: flex;
	flex-direction: column-reverse;

	z-index: 420;
	position: absolute;

	right: 2px;
	bottom: 2px;
}


#botleftbuttons {
	display: flex;
	flex-direction: column-reverse;

	z-index: 420;
	position: absolute;

	left: 2px;
	bottom: 2px;
}

#showButton {
	position: absolute;

	left: 0;
	bottom: 23vh;

	display: none;
	background-color: #BBBBBB;
	color: #000000;
}

#pleft .PlayerMSG { left: 0; }
#pup .PlayerMSG { left: 50%; transform: translateX(-50%); }
#pright .PlayerMSG { right: 0; }
