.SettingBox {
    position: relative;

    text-align: center;

    margin: 1rem;
    padding: 1rem;

    border-width: 0.2rem;
    border-style: solid;
    border-color: #000000;
    border-radius: 0.3rem;
}

.SettingTooltip {
    position: relative;
    display: inline-block;

    width: 0.9rem;
    height: 0.9rem;

    cursor: help;
}

.SettingTooltipimg {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.SettingTooltip .SettingTooltipbox {
    position: absolute;    
    visibility: hidden;

    left: 50%;
    bottom: 120%;
    width: 12rem;

    padding: 0.8rem;
    border-radius: 0.5rem;
    transform: translateX(-50%);

    color: #FFFFFF;
    background-color: #000000;
}

.SettingTooltip:hover .SettingTooltipbox {
    visibility: visible;
}

#settingDarkvalcanvas {
    position: relative;

    width: 50%;
    max-width: 322px;
}

@media (prefers-color-scheme: dark) {
    .SettingTooltipimg {
        filter: invert(100%);
    }
}
