.Window {
	display: none;
	position: absolute;

    max-width: 75%;

	z-index: 10;
	padding: 1rem;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

	box-shadow: 0 0 1rem 0 #000000;
	box-sizing: border-box;
}


.Button {
    padding: 0.5rem;
    margin: 0.5rem;

    text-align: center;

    border-radius: 0.5rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #EEEEEE;

	color: #EEEEEE;
    background-color: #000000;
    box-sizing: border-box;

    cursor: pointer;
    user-select: none;
}

.Important {
	color: #FF0000;
	border-color: #FF0000;
}

.Button:hover {
	filter: brightness(120%);
}

#announceWindow {
	flex-direction: column;
	justify-content: space-evenly;

	top: 40%;
	min-width: min(66vw, 66vh);

	height: min-content;
	max-height: 75%;

	overflow-y: auto;
    text-align: center;
    transition: 250ms;
}

.AnnounceRow {
    display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.AnnounceRow div {
    display: flex;
	flex-direction: column;
    box-sizing: border-box;
	align-items: center;

    padding: 0.5rem;
    overflow: hidden;
    border-radius: 0.5rem;

    font-weight: bold;
    cursor: pointer;

    user-select: none;

	img {
		height: 6rem;
		padding: 0.5rem;
	}
}

.AnnounceRow div:hover {
    background-color: #88888840;
}

/* --- */

#roundWindow {
	font-size: 1.25rem;

	overflow-y: auto;
	z-index: 420;

	top: 45%;
	max-height: 80%;
}

#roundSummary {
	flex-direction: column;
}

.SummaryTeam {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

    padding: 1em;
}

.SummaryStats {
	display: flex;
	flex-direction: column;
	white-space: nowrap;

	min-width: 10em;
	padding: 1em;
}

#mods {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
}

.SummaryCards {
	display: flex;
	flex-direction: column;

	padding: 1em;

	div { display: flex; }
	img { height: 2.5em; }
}

.Summaryname {
    cursor: pointer;

	.Playercards {
		position: absolute;
		display: none;

		top: 0;
		transform: translateY(-100%);
		height: 3.5rem;

		padding: 0.5rem;
		border-radius: 0.25rem;
		border-width: 0.1rem;
		border-style: solid;
	}
}
.Summaryname:hover .Playercards {
    display: block;
}

#endWindow {
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	overflow: auto;

    min-height: 5rem;

	padding: 1rem;

	div {
		display: flex;
		justify-content: space-evenly;
	}
}

#endTeams {
	white-space: nowrap;
	flex-direction: column;
	align-items: center;

	h1 { color: #FEDE50; }
	h2 { color: #8F9396; }
	h3 { color: #A25D2F; }
	* { margin: 0; }
}

#settingsWindow {
	flex-direction: column;

    text-align: center;
	align-items: center;

    height: min-content;
    max-height: 90%;

    overflow-y: auto;
}

#settings {
	.SettingGroup { margin: 1rem; }
	.SingleSetting { margin: 0.5rem; }
}


@media (orientation: portrait) {
	.Window {
		max-width: 95%;
	}
}
